

<p>

        <ul>

        <% for(var i=0; i < bars.length; i++) { %>

            <li>Barre n°<%= i %> ; sizeLeft= <%= bars[i].sizeLeft; %>

             <% for(var j=0; j < bars[i].pieces.length; j++) { %>
            <p>length=<%= bars[i].pieces[j].l %> ; packingId=<%= bars[i].pieces[j].packingId %></p>
            <% }; %>
            </li>

        <% }; %>

        </ul>

</p>